/* CUSTOM PROPS */
:root {
  --accent-color-green: #0a775f;
  --accent-color-green-80: rgba(10, 119, 95, 0.8);
  --accent-color-green-60: rgba(10, 119, 95, 0.6);
  --accent-color-light-brown: #c99b67;
  --accent-color-light-brown-80: rgba(201, 155, 103, 0.8);
  --accent-color-light-brown-60: rgba(201, 155, 103, 0.6);
  --text-color: #333;
  --outline-color: var(--accent-color-green);
  --light-brown: #f3d7b7;
  --light-bg: #f8f8f2;
}
/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
      url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
      url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* GLOBAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: var(--text-color);
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
/* CONTAINER */
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}
/* MAIN */
.main-content {
  flex-grow: 1;
}